@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --font-sans: "Manrope", sans-serif;
    --font-display: "Instrument Serif", serif;

    --color-primary: #6366F1;
    --color-secondary: #1E1B4B;
    --color-tertiary: #F5F3FF;
    --color-neutral: #64748B;
}

body{
    font-family: var(--font-sans);
}